<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    .tjblue {
      background-color: #33CCCC;
    }
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    .navbar-nav li a{
      font-weight: bold;
    }
    /* Remove the jumbotron's default bottom margin */
     .jumbotron {
      margin-bottom: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-inverse tjblue">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a style="color:white;" class="navbar-brand" href="#">{{userdetails.company_name}}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a style="color:white;" class="tjblue" href="/edit/property_owner/nevermindedited/{{userdetails.email}}"> Dashboard</a></li>
        <li><a style="background-color:#33FFFF;color:gray;" href="/bookings/property_owner/{{userdetails.company_name}}">All Leads</a></li>
        <li><a style="color:white;" href="/properties/property_owner/{{userdetails.company_name}}">My Properties</a></li>
        <li><a style="color:white;" href="/edit/property_owner/{{userdetails.email}}">Settings</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">


    <div class="col-sm-1">

    </div>
    <div class="well col-sm-8" style="background-color:#33CCCC;">
      <header>
        <h2 style="color:white;" align="center">Create New Booking</h2>
        <hr>
      </header>
      <form action="/bookings/create/property_owner/{{userdetails.email}}" method="post">
        <div class="" style="display:flex;flex-direction:row;">
          <div class="">
            <div class="">
              <label for="">Date (YYYY/MM/DD)</label>
              <input style="margin-left:7px;" type="text" name="date_needed">
            </div>
            <br>
            <div class="">
              <label for="">Services Needed By</label>
              <input style="margin-left:10px;" type="text" name="requested_by" value="{{userdetails.company_name}}">
            </div>
            <br>
            <div class="">
              <label for="">Services Request For</label>
              <input type="text" name="requested_for">
            </div>
            <br>
          </div>
          <div class="" style="margin:30px;">
            <span></span>
          </div>
          <div class="">
            <div class="">
              <label for="">Property Address</label>
              <input style="margin-left:27px;" type="text" name="property_address">
            </div>
            <br>
            <div class="">
              <label for="">Address Unit Number</label>
              <input type="text" name="unit_number">
            </div>
            <br>
            <div class="">
              <label for="">Needs Cleaning?</label>
              <input style="margin-left:30px;" type="text" name="needs_cleaning">
            </div>
            <br>
            <div class="">
              <label for="">Needs Repair?</label>
              <input style="margin-left:45px;" type="text" name="needs_repair">
            </div>
            <br>
          </div>
        </div>
        <hr>
        <div class="" style="display:flex;justify-content:center;">
          <button style="width:200px;" type="submit">Create Booking Request</button>
        </div>

      </form>
    </div>
  </div>
</div>


</body>
</html>
