<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */
     .jumbotron {
      margin-bottom: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{thisPO.company_name}}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/profile/property_owner/{{thisPO.email}}">Dashboard</a></li>
        <li class="active"><a href="#">All Leads</a></li>
        <li><a href="/properties/property_owner/{{thisPO.company_name}}">My Properties</a></li>
        <li><a href="/edit/property_owner/{{thisPO.email}}">Settings</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">

    <div class="well col-sm-3">
      <h3 align="center">Taken Bookings</h3>
      {{#each myPendingBookings}}
      <div class="well">
        <p>Submitted By: {{this.requested_by}}</p>
        <p>Sent To: {{this.requested_for}}</p>
        <p>Date: {{this.date_needed}}</p>
        <p>For Address: {{this.property_address}}</p>
        <p>Unit Number: {{this.unit_number}}</p>
        <p>Needs Cleaning? {{this.needs_cleaning}}</p>
        <p>Needs Repair? {{this.needs_repair}}</p>
      </div>
      {{/each}}
    </div>
    <div class="well col-sm-3">
      <h4 align="center">Completed Bookings</h4>
      {{#each myCompletedBookings}}
      <div class="well">
        <p>Submitted By: {{this.requested_by}}</p>
        <p>Sent To: {{this.requested_for}}</p>
        <p>Date: {{this.date_needed}}</p>
        <p>For Address: {{this.property_address}}</p>
        <p>Unit Number: {{this.unit_number}}</p>
        <p>Needs Cleaning? {{this.needs_cleaning}}</p>
        <p>Needs Repair? {{this.needs_repair}}</p>
      </div>
      {{/each}}
    </div>
    <div class="well col-sm-3">
        <h3 align="center">Open Requests</h3>
        {{#each myOpenRequests}}
        <div class="well">
          <p>Submitted By: {{this.requested_by}}</p>
          <p>Sent To: {{this.requested_for}}</p>
          <p>Date: {{this.date_needed}}</p>
          <p>For Address: {{this.property_address}}</p>
          <p>Unit Number: {{this.unit_number}}</p>
          <p>Needs Cleaning? {{this.needs_cleaning}}</p>
          <p>Needs Repair? {{this.needs_repair}}</p>
        </div>
        {{/each}}
    </div>
    <div class="well col-sm-3">
      <header>
        <h3 align="center">Create New Booking</h3>
        <hr>
      </header>
      <form action="/bookings/create/property_owner/{{thisPO.email}}" method="post">
        <div class="">
          <label for="">Services Needed By</label>
          <input type="text" name="requested_by" value="{{thisPO.company_name}}">
        </div>
        <br>
        <div class="">
          <label for="">Services Request For</label>
          <input type="text" name="requested_for">
        </div>
        <br>
        <div class="">
          <label for="">Date (YYYY/MM/DD)</label>
          <input type="text" name="date_needed">
        </div>
        <br>
        <div class="">
          <label for="">Property Address</label>
          <input type="text" name="property_address">
        </div>
        <br>
        <div class="">
          <label for="">Address Unit Number</label>
          <input type="text" name="unit_number">
        </div>
        <br>
        <div class="">
          <label for="">Needs Cleaning?</label>
          <input type="text" name="needs_cleaning">
        </div>
        <br>
        <div class="">
          <label for="">Needs Repair?</label>
          <input type="text" name="needs_repair">
        </div>
        <br>
        <button type="submit">Create Booking Request</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>
