<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */
     .jumbotron {
      margin-bottom: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    .navbar-nav li a{
      font-weight: bold;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-inverse" style="background-color:#33CCCC;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a style="color:white;" class="navbar-brand" href="#">{{userdetails.company_name}}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a style="color:white;" href="/edit/property_owner/nevermindedited/{{userdetails.email}}"> Dashboard</a></li>
        <li><a style="color:white;" href="/bookings/property_owner/{{userdetails.company_name}}">All Leads</a></li>
        <li><a style="color:gray;background-color:#33FFFF;" href="#">My Properties</a></li>
        <li><a style="color:white;" href="/edit/property_owner/{{userdetails.email}}">Settings</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="well col-sm-7" style="background-color:#33CCCC;">
      <h2 align="center" style="color:white;">All Properties</h2>
      {{#each allMyProperties}}
      <div class="well">
        <div style="display:flex;flex-direction:row;" class="card" style="width: 20rem;">
          <img style="height:150px;width:220px;" class="card-img-top" src="{{this.property_photo}}" alt="Card image cap">
          <div class="card-body">
            <h3 style="margin-left:10px;" class="card-text">{{this.owned_by}}</h3>
            <h5 style="margin-left:10px;" class="card-text">Address: {{this.property_address}}.</h5>
            <h5 style="margin-left:10px;">Unit: {{this.unit_number}}</h5>
            <br>
            <button style="margin-left:10px;" type="button">Edit Property</button>
          </div>
        </div>
      </div>
      {{/each}}
    </div>

    <div class="col-sm-1">

    </div>
    <div class="well col-sm-4" style="background-color:#33CCCC;">
      <h2 align="center">Add Property</h2>
      <hr>
      <form class="" action="/properties/addition/{{userdetails.company_name}}" method="post">
        <div class="">
          <label for="">Owned By</label>
          <input style="width:100%;" type="text" name="owned_by" value="{{userdetails.company_name}}">
        </div>
        <br>
        <div class="">
          <label for="">Property's Street Address</label>
          <input style="width:100%;" type="text" name="property_address">
        </div>
        <br>
        <div class="">
          <label for="">Unit Number</label>
          <input style="width:100%;" type="text" name="unit_number">
        </div>
        <br>
        <div class="">
          <label for="">Property Photo</label>
          <input style="width:100%;" type="text" name="property_photo">
        </div>
        <br>
        <div style="display:flex;justify-content:center;" class="">
          <button style="width:150px;" type="submit">Add Property</button>
        </div>
      </form>
    </div>
  </div>
</div>


</body>
</html>
