<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */
     .jumbotron {
      margin-bottom: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-inverse" style="background-color:#33CCCC;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a style="color:white;" class="navbar-brand" href="#">{{POdetails.company_name}}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a style="color:white;background-color:#33FFFF;" href="#">Dashboard</a></li>
        <li><a style="color:white;" href="/bookings/property_owner/{{POdetails.company_name}}">All Leads</a></li>
        <li><a style="color:white;" href="/properties/property_owner/{{POdetails.company_name}}">My Properties</a></li>
        <li><a style="color:white;" href="/edit/property_owner/{{POdetails.email}}">Settings</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-sm-2 leftbound" align="left">
      <img style="height:120px;widht:80px;" src="/images/tjlogo.png"  >
    </div>
    <div class="col-sm-1">

    </div>
    <div class=" well col-sm-3" style="background-color:#33CCCC;">
      <div class="card" style="width: 20rem;padding-left:45px;">
        <div class="card-body">
          <h2 style="color:white;" align="center" class="card-title">{{completedBookings}}</h2>
          <h4 style="color:white;" align="center" class="card-text">Bookings Fulfilled</h4>
        </div>
      </div>
    </div>
    <div class=" well col-sm-3" style="background-color:#33CCCC;">
      <div class="card" style="width: 20rem;padding-left:45px;">
        <div class="card-body">
          <h2 style="color:white;" align="center" class="card-title">N/A</h2>
          <h5 style="color:white;" align="center" class="card-text">Staff on Date Selected</h5>
        </div>
      </div>
    </div>
    <div class=" well col-sm-3" style="background-color:#33CCCC;">
      <div class="card" style="width: 20rem;padding-left:45px;">
        <div class="card-body">
          <h2 style="color:white;" align="center" class="card-title">{{bookingsPending}}</h2>
          <h4 style="color:white;" align="center" class="card-text">Pending Leads</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3" align="left">
      <img style="height:240px;width:300px;margin-right:100px;" src="http://www.topcalendarprintable.com/wp-content/uploads/2017/03/november-2017-calendar-3.jpg" alt="">
    </div>
    <div class="col-sm-9">
      <div class="well" style="background-color:#33CCCC;">
        <div class="row">
          <div class="col-sm-4">
            <div class="card well" style="width: 100%;opacity:1.0;">
              <header class="well" style="display:flex;flex-direction:row;">
                <img style="height:50px;width:50px;" src="{{firstPicture}}" alt="">
                <span style="width:15px;"></span>
                <h3>{{veryNextPending.assigned_to}}</h3>
              </header>
              <h4 class="card-title">December {{veryNextScheduling}}</h4>
              <div class="card-body">

                <p class="card-text">Address: {{veryNextPending.property_address}} Unit {{veryNextPending.unit_number}}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Needs Cleaning: {{veryNextPending.needs_cleaning}}</li>
                <li class="list-group-item">Needs Repairs: {{veryNextPending.needs_repair}}</li>
                <li class="list-group-item">Has Checkedout: {{veryNextPending.has_been_checkedout}}</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card well" style="width: 100%;opacity:1.0;">
              <header class="well" style="display:flex;flex-direction:row;">
                <img style="height:50px;width:50px;" src="{{firstPicture}}" alt="">
                <span style="width:15px;"></span>
                <h3>{{secondVeryNextPending.assigned_to}}</h3>
              </header>
              <h4 class="card-title">December {{secondVeryNextScheduling}}</h4>
              <div class="card-body">

                <p class="card-text">Address: {{secondVeryNextPending.property_address}} Unit {{secondVeryNextPending.unit_number}}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Needs Cleaning: {{secondVeryNextPending.needs_cleaning}}</li>
                <li class="list-group-item">Needs Repairs: {{secondVeryNextPending.needs_repair}}</li>
                <li class="list-group-item">Has Checkedout: {{secondVeryNextPending.has_been_checkedout}}</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card well" style="width: 100%;opacity:1.0;">
              <header class="well" style="display:flex;flex-direction:row;">
                <img style="height:50px;width:50px;" src="{{firstPicture}}" alt="">
                <span style="width:15px;"></span>
                <h3>{{thirdVeryNextPending.assigned_to}}</h3>
              </header>
              <h4 class="card-title">December {{thirdVeryNextScheduling}}</h4>
              <div class="card-body">

                <p class="card-text">Address: {{thirdVeryNextPending.property_address}} Unit {{thirdVeryNextPending.unit_number}}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Needs Cleaning: {{thirdVeryNextPending.needs_cleaning}}</li>
                <li class="list-group-item">Needs Repairs: {{thirdVeryNextPending.needs_repair}}</li>
                <li class="list-group-item">Has Checkedout: {{thirdVeryNextPending.has_been_checkedout}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><br><br>

<footer class="container-fluid text-center">

</footer>

</body>
</html>
