<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    .navbar-nav li a{
      font-weight: bold;
    }
    .tjblue {
      background-color: #33CCCC;
    }
    .highlighted {
      background-color: #33FFFF;
    }
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */
     .jumbotron {
      margin-bottom: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-inverse tjblue">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a style="color:white;" class="navbar-brand" href="#">{{currentSO.company_name}}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a style="color:white;" href="/edit/service_provider/nevermindedited/{{currentSO.email}}"> Dashboard</a></li>
        <li class="highlighted"><a href="/bookings/service_provider/{{currentSO.company_name}}">Booking Log</a></li>
        <li><a style="color:white;" href="/service_staff/service_provider/{{currentSO.company_name}}">My Staff</a></li>
        <li ><a style="color:white;" href="/edit/service_provider/{{currentSO.email}}">Settings</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a style="color:white;" href="/">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="well col-sm-4 tjblue">
      <figure>
        <h2>Services needed from {{bookingDetails.requested_by}}</h2>
        <h5>Date: {{bookingDetails.date_needed}}</h5>
        <p>Property: {{bookingDetails.property_address}}</p>
        <p>Unit Number: {{bookingDetails.unit_number}}</p>

        <form class="" action="/bookings/staff_scheduling" method="post">
          <input hidden type="text" name="id" value="{{bookingDetails.id}}">
          <div class="">
            <label for="">Assign to staff member:</label>
            <input type="text" name="assigned_to" required>
          </div>
          <br>
          <div class="">
            <label for="">During hour:</label>
            <input style="margin-left:76px;" type="text" name="hour_to_be_completed" required>
          </div>
          <br>
          <input hidden type="boolean" name="is_available" value="false">
          <button type="submit">Schedule Booking</button>
        </form>
      </figure>
    </div>

  </div>

</div>





</body>
</html>
