<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */
     .jumbotron {
      margin-bottom: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    html, body {
    margin: 0;
    height: 100%;
    }
    .tjblue{
      background-color: #33CCCC;
    }
    .navbar-nav li a{
      font-weight: bold;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-inverse tjblue">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a style="color:white;" class="navbar-brand tjblue" href="#">{{thisSO.company_name}}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a style="color:white;" href="/profile/service_provider/{{thisSO.email}}">Dashboard</a></li>
        <li><a style="background-color:#33FFFF;" href="/bookings/service_provider/{{thisSO.company_name}}">Booking Log</a></li>
        <li><a style="color:white;" href="/service_staff/service_provider/{{thisSO.company_name}}">My Staff</a></li>
        <li><a style="color:white;" href="/edit/service_provider/{{thisSO.email}}">Settings</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
<main style="width:100%;margin-bottom:100px;">
  <div class="container" style="background-color:#33CCCC;height:100px;">
    <div class="row">
      <div class="col-sm-3">
        <h3 style="color:white;" align="">Available Requests</h3>
      </div>
      <div class="col-sm-7">

      </div>
      <div class="col-sm-2">
        <a style="margin-bottom:100px;" href="/bookings/finished/{{thisSO.company_name}}">View Completed Bookings</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" style="margin-top:-35px;">
      <div class="well col-sm-12" style="background-color:#33CCCC">
          <div class="" style="display:flex;flex-direction:row;justify-content:left;">
            {{#each requestsOpen}}
            <div class="well" style="margin:5px;">
              <h4>{{this.date_needed}}</h4>
              <h5>Submitted By: {{this.requested_by}}</h5>
              <p>Address: {{this.property_address}}. Unit Number: {{this.unit_number}}</p>
              <p>Needs Cleaning? {{this.needs_cleaning}}. Needs Repair? {{this.needs_repair}}</p>
              <!-- <img src="{{this.property_photo}}" alt=""> -->
              <button type="button"><a href="/bookings/schedule/{{this.requested_for}}/{{this.id}}">Schedule Cleaning</a></button>
              <button type="button">Contact Owner</button>
            </div>
            {{/each}}
          </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" style="margin-top:-30px;">
      <div class="well col-sm-12" style="background-color:#33CCCC">
        <h3 style="color:white;" align="left">Pending Bookings</h3>
        <div class="" style="display:flex;flex-direction:row;">
          {{#each bookingsPending}}
          <div class="well" style="width:250px;margin:5px;">
            <h4>{{this.date_needed}}</h4>
            <h5>Submitted By: {{this.requested_by}}</h5>
            <p>Staff: {{this.assigned_to}}</p>
            <p>Address: {{this.property_address}}. Unit Number: {{this.unit_number}}</p>
            <p>Needs Cleaning? {{this.needs_cleaning}}. Needs Repair? {{this.needs_repair}}</p>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</main>

</body>
</html>
