<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    .navbar-nav li a{
      font-weight: bold;
    }
    .tjblue {
      background-color: #33CCCC;
    }
    .highlighted {
      background-color: #33FFFF;
    }
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */
     .jumbotron {
      margin-bottom: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-inverse tjblue">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a style="color:white;" class="navbar-brand" href="#">{{SOdetails.company_name}}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a style="color:white;" href="/edit/service_provider/nevermindedited/{{SOdetails.email}}"> Dashboard</a></li>
        <li><a style="color:white;" href="/bookings/service_provider/{{SOdetails.company_name}}">Booking Log</a></li>
        <li><a class="highlighted" href="#">My Staff</a></li>
        <li><a style="color:white;" href="/edit/service_provider/{{SOdetails.email}}">Settings</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="well col-sm-7 tjblue">
      <h3>Your Staff</h3>
      {{#each staffList}}
      <div class="well" style="display:flex;flex-direction:row;">
        <div class="" style="margin-bottom:-120px;">
          <h5 style="margin-top:-17px;">Employee ID: 00{{this.id}}</h5>
          <h6>Account Number: {{this.account_number}}</h6>
        </div>
        <div class="col-sm-1">

        </div>
        <div class="">
          <img style="height:120px;width:160px;" src="{{this.photo}}" alt="">
        </div>
        <div class="">
          <ul style="list-style:none;">
            <h4>{{this.first_name}} {{this.last_name}}</h4>
            <h5>Employer: {{this.employed_by}}</h5>
            <li>Phone Contact: {{this.phone}}</li>
            <li>Email: WIPstaff@portal.com</li>
          </ul>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="col-sm-1">

    </div>
    <div class="well col-sm-4 tjblue">
      <form class="" action="/signup/staff_member" method="post">
        <h2 align="center">Add Staff Member</h2>
        <div class="">
          <label for="">First Name</label>
          <input style="width:100%" type="text" name="first_name">
        </div>
        <br>
        <div class="">
          <label for="">Last Name</label>
          <input style="width:100%" type="text" name="last_name">
        </div>
        <br>
        <div class="">
          <label for="">Photo</label>
          <input style="width:100%" type="text" name="photo">
        </div>
        <br>
        <div class="">
          <label for="">Phone Number</label>
          <input style="width:100%" type="text" name="phone">
        </div>
        <br>
        <div class="">
          <label for="">Employed By</label>
          <input style="width:100%" type="text" name="employed_by" value="{{SOdetails.company_name}}">
        </div>
        <br>
        <div class="">
          <label for="">Account Number</label>
          <input style="width:100%" type="text" name="account_number">
        </div>
        <br>
        <button type="submit">Add Employee</button>
      </form>
    </div>


  </div>
</div>
</body>
</html>
